{% extends "master.html" %}
{% block body %}
  <div id='main'>
    <img src='/static/Linky_Books.jpg' />
    <div>
      Image by <a href="http://mystressofdarkness13.deviantart.com/art/Linky-Books-60841358">Mystressofdarkness13</a> on deviantart.
    </div>
  </div>
  <div id='sidebar'>
    <div class='links'>
      <ul>
        <li><a href='/map/'>Minecraft Map</a></li>
        <li><a href='http://blog.linkybook.com'>Blog</a></li>
        <li><a href='/uptime'>Server uptimes</a></li>
      </ul>
    </div>
    <div class='services'>
      <ul>
      {% for service in running %}
      <li id='service {{service}}'>{{ service }}:
        <span class='{{running[service]}}'>{{ 'Up' if running[service] else 'Down' }}</span>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
